.plann3dtitle {
	font-family: Roboto-Light;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 1.54px;
	line-height: 24px;
}

.headerlinks {
	font-family: Raleway-SemiBold;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 2.2px;
	line-height: 16px;
}

h1 {
	font-family: Raleway-SemiBold;
	font-size: 36px;
	color: #0E1125;
	letter-spacing: 2.2px;
	line-height: 42px;
}

h2 {
	font-family: Raleway-Medium;
	font-size: 20px;
	color: #0E1125;
	letter-spacing: 1.2px;
	line-height: 24px;
}

h3 {
	font-family: Raleway-Medium;
	font-size: 14px;
	color: #0E1125;
	letter-spacing: 0.85px;
	line-height: 16px;
}

p{
	font-family: Raleway-Light;
	font-size: 10px;
	color: #000000;
	letter-spacing: 0.6px;
	line-height: 11px;
}

.buttontext {
	font-family: Raleway-SemiBold;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 1.4px;
	line-height: 16px;
}

.ghostedtext {
	font-family: Raleway-Light;
	font-size: 14px;
	color: #A4A4A4;
	letter-spacing: 0.77px;
	line-height: 16px;
}